# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx}]
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
